.main-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9AEBA3;
  text-align: center;
}

h1{
  font-size: 6vh;
  color:#012030;
}

label{
  font-size: 3vh;
  color: #012030;
}

input[type=text] {
  width: 80%;
  padding: 16px 20px;
  margin: 10px 0;
  background-color: #DAFDBA;
  color: #012030;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
}

